{% block fewiel_admin_banner %}
    <div class="fewiel-admin-banner"
         v-if="showBanner"
         :style="bannerStyle">
        <span class="fewiel-admin-banner__text">{{ bannerText }}</span>
    </div>
{% endblock %}
